<table class="task table">
	<tr>
		<td class="head">Название</td>
		<td>{{ taskObj.title }}</td>
	</tr>

	<tr>
		<td class="head">Статус</td>
		<td>{{ taskObj.status }}</td>
	</tr>

	<tr>
		<td class="head">Приоритет</td>
		<td>{{ taskObj.priority }}</td>
	</tr>

	<tr>
		<td class="head">Затраченное время</td>
		<td>{{ secondsFormatter(taskObj.elapsed_time_sec) }}</td>
	</tr>

	<tr>
		<td class="head">Планируемое время</td>
		<td>{{ secondsFormatter(taskObj.planned_time_sec) }}</td>
	</tr>

	<tr>
		<td class="head">Дата создания</td>
		<td>{{ dateFormatter(taskObj.date) }}</td>
	</tr>

	<tr>
		<td class="head">Описание</td>
		<td>{{ taskObj.body }}</td>
	</tr>							
</table>

<button md-button class="btn back-btn bg-basic" (click)="back()">Назад к списку задач</button>